<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ngrx-demo-local</span>
    </mat-toolbar>

    <div class="main-grid">
      <mat-grid-list rowHeight="210px" cols="4">
        <mat-grid-tile [colspan]="3">
          <app-add-pay-rate style="width: 100%"></app-add-pay-rate>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <app-counter-pay-rate class="counter"></app-counter-pay-rate>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <app-pay-rate-table *ngIf="!(isLoading$ | async); else spinner"></app-pay-rate-table>
    <ng-template #spinner>
      <mat-progress-spinner class="spinner" mode="indeterminate"></mat-progress-spinner>
    </ng-template>

  </mat-sidenav-content>
</mat-sidenav-container>
