<mat-card>
  <mat-card-header>
    <mat-card-title><h2 style="font-weight: 300">Counters</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="badge"><span matBadge="0" matBadgeOverlap="false" matBadgeSize="medium">Total count</span></div>
    <div class="badge"><span matBadge="0" matBadgeOverlap="false" matBadgeSize="medium">PayRates > 10</span></div>
    <div class="badge"><span matBadge="0" matBadgeOverlap="false" matBadgeSize="medium">Highest PayRate value</span></div>
  </mat-card-content>
</mat-card>
